@font-face{font-family:"Oswald"; font-style:normal; font-weight:400; src:local("Oswald Regular"),local("Oswald-Regular"),url("../fonts/Oswald-Regular-400.woff") format("woff")}
@font-face{font-family:"Varela"; font-style:normal; font-weight:400; src:local("Varela"),url("../fonts/Varela-400.woff") format("woff")}
@font-face{font-family:"Open Sans"; font-style:normal; font-weight:400; src:local("Open Sans"),local("OpenSans"),url("../fonts/OpenSans-400.woff") format("woff")}
@font-face{font-family:"Adobe Arabic"; font-style:normal; font-weight:400; src:local("Adobe Arabic"),local("AdobeArabic"),url("../fonts/AdobeArabic-Regular.otf") format("otf")}
@font-face{font-family:"Cordia"; font-style:normal; font-weight:400; src:local("Cordia"),local("Cordia"),url("../fonts/cordia.ttc") format("ttc")}
@font-face{font-family:"Heavent Rounded"; font-style:normal; font-weight:400; src:local("Heavent Rounded"),local("Heavent Rounded"),url("../fonts/DB HeaventRounded Bd v3.2.ttf") format("ttf")}
@font-face{font-family:"Heavent Rounded Med"; font-style:normal; font-weight:400; src:local("Heavent Rounded Med"),local("Heavent Rounded Med"),url("../fonts/DB HeaventRounded Med v3.2.ttf") format("ttf")}
@font-face{font-family:"Mitr Light"; font-style:normal; font-weight:400; src:local("Mitr Light"),local("Mitr Light"),url("../fonts/Mitr-Light.ttf") format("ttf")}
@font-face{font-family:"Mitr Medium"; font-style:normal; font-weight:400; src:local("Mitr Medium"),local("Mitr Medium"),url("../fonts/Mitr-Medium.ttf") format("ttf")}
/*@font-face{font-family:"Mitr Regular"; font-style:normal; font-weight:400; src:local("Mitr Regular"),local("Mitr Regular"),url("../fonts/Mitr-Regular.ttf") format("ttf")}*/
@font-face{
    font-family:'Mitr Regular';
    src:url("../fonts/Mitr-Regular.ttf");
}