/*
Template Name: NewsFeed
Template URI: http://www.wpfreeware.com/newsfeed-ultra-responsive-news-magazine-theme/
Author: WpFreeware
Author URI: http://www.wpfreeware.com
Description: A Pro bootstrap html5 css3 responsive news magazine website template
Version: 1.0 
License: GPL
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
@import url('https://fonts.googleapis.com/css?family=Mitr:300,400,500&subset=thai');
body {
	background:#fff;
	font-family: 'Mitr', sans-serif;
}
ul {
	padding:0; 
	margin:0; 
	list-style:none;
}
a {
	text-decoration:none; 
	color:#2f2f2f;
}
a:hover {
	color:#646464; 
	text-decoration:none;
}
a:focus {
	outline:none; 
	text-decoration:none;
}
a:visited { 
    color: #000;
}
h2 {
	line-height:23px;
}
img{
	border:none;
}
.required {
	border: 1px solid red !important;
}
.scrollToTop{
	bottom:105px; 
	display:none; 
	font-size:32px; 
	font-weight:bold; 
	height:50px; 
	position:fixed; 
	right:75px; 
	text-align:center; 
	text-decoration:none; 
	width:50px; 
	z-index:9; 
	border:1px solid; 
	-webkit-transition:all 0.5s; 
	-moz-transition:all 0.5s; 
	-ms-transition:all 0.5s; 
	-o-transition:all 0.5s; 
	transition:all 0.5s;
}
.scrollToTop:hover, .scrollToTop:focus{
	text-decoration:none; 
	outline:none;
}
#header {
	display:inline; 
	float:left; 
	width:100%;
	margin-bottom: 60px;
}

.navbar {
	border:medium none; 
	border-radius:0; 
	margin-bottom: 0;
}

.main_nav {
	margin-top: 75px;
}

#header {
	background-color:#2B64BE;
}
#logo {
	float: left;
}

#logo img {
	padding: 20px 20px 10px 0px;
}

.navbar-inverse .navbar-nav > li > a{
	color:#FFCC33;
	display:inline-block; 
	height:50px; 
	line-height:50px; 
	padding:0 14px; 
}
.navbar-inverse .navbar-nav > li > a:hover {
	background-color: transparent;
}
.navbar-inverse .navbar-nav > li:first-child a{
	border:none;
}
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus{ 
	color:#fff;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus{ 
	color:#fff;
	background-color: transparent;
}

.navbar-inverse {
	background-color: transparent;
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus {
	border-color: transparent;
	background-color: transparent;
}
.navbar-toggle {
	margin-top: 25px
}
.search-icon {
	color: white;
	font-size: 25px;
	float: right;
    padding: 10px 25px;
    position: absolute;
    top: 70px;
    right: 0;
}

.search-box {
    display: none;
    position: absolute;
    top: 123px;
    right: 0;
    width: 300px;
    height: 50px;
    padding: 10px;
    background: #2B64BE;
}

.search-txt {
    float: left;
    border: none;
    background: #fff;
    border-radius: 40px;
    padding: 0;
    color: #000;
    font-size: 14px;
    width: 280px;
    height: 30px;
    padding: 0 0 0 10px;
    outline:0px !important;
}

.navbar-inverse .navbar-collapse {
	border-color: transparent;
}

.navbar-collapse{ 
	padding-left:0;
}

#sliderSection{ 
	display:inline; 
	float:left; 
	width:100%; 
	padding:0 40px;
}
.single_iteam{
	display:inline; 
	float:left; 
	position:relative; 
	width:100%; 
	height:448px;
}
.single_iteam img{
	width:100%; 
	height:100%;
}
.single_iteam img:hover{
	opacity:1;
}
.slick-prev:before { 
	content:"";
}
.slick-prev { 
	background:url(images/prev-icon.png) no-repeat center; 
	background-size: 20px 20px;
}
.slick-next:before { 
	content:"";
}
.slick-next { 
	background:url(images/next-icon.png) no-repeat center; 
	background-size: 20px 20px;
}
.slick-prev, .slick-next {
	background-color:#fff; 
	top:50%; 
	width:50px; 
	height:50px;
}

#contentSection{
	float:left; 
	display:inline; 
	width:100%; 
	background-color:#fff; 
	padding:0 30px;
}

.single_post_content{
	float:left; 
	display:inline; 
	width:100%;
	margin-bottom: 10px;
}

.load-more {
	margin-bottom: 50px;
	text-align: center;
}

.load-more .more {
  	text-transform:uppercase;
  	padding: 0 10px;
  	background: #fff;
  	white-space: nowrap;
  	border-radius: 0;
  	font-size: 14px;
  	color: #CFCECE;
  	cursor: pointer;
  	border: 1px solid #CFCECE;
  	margin-top: 10px;
}

.single_post_content > h2{
	color:#fff;
	font-size:18px; 
	font-weight:400; 
	margin-bottom:10px; 
	margin-left:0; 
	margin-top:5px; 
	padding:0; 
	position:relative; 
	text-align:left; 
	margin-bottom:10px;
}
.single_post_content > h2 span{
	padding:4px 15px;
	background: #6AADFE; 
}

.single_post_content_left{
	float:left; 
	display:inline; 
	width:49%;
}

.business_catgnav li{
	float:left; 
	display:block; 
	width:100%;
}

.single_post_content_right{
	float:right; 
	display:inline; 
	width:48%;
}
.spost_nav li{
	float:left; 
	display:block; 
	width:100%; 
	margin-bottom:10px;
}
.spost_nav .media-left{
	width:100px; 
	height:80px;
}
.media-left > img{
	height:70px; 
	width:90px;
}

.overlay:hover{ background:none repeat scroll 0 0 rgba(0,0,0,0.4)}
.overlay{ bottom:0; display:block; left:0; position:absolute; width:100%; z-index:2; height:100%; -webkit-transition:all 0.5s; -mz-transition:all 0.5s; -ms-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s}

.photo_grid{
	position:relative; 
	margin:0 auto; 
	max-width:330px; 
}
.photograph_nav{
	margin-left:-24px;
}
.photograph_nav li{
	display:block; 
	float:left; 
	margin-left:14px; 
	width:32%;
}

.photo_grid figure{
	position:relative; 
	float:left; 
	overflow:hidden; 
	margin:10px 1%; 
	margin-top:0; 
	height:235px; 
	width:100%; 
	cursor:pointer

}
.photo_grid figure img{
	position:relative; 
	display:block; 
	min-height:100%; 
	max-width:100%; 
	width:100%; 
	height:100%;
}
.photo_grid figure figcaption{
	padding:2em; 
	color:#fff; 
	text-transform:uppercase; 
	font-size:1.25em; 
	-webkit-backface-visibility:hidden; 
	backface-visibility:hidden;
}
.photo_grid figure figcaption::before, 
.photo_grid figure figcaption::after{
	pointer-events:none;
}
.photo_grid figure figcaption{
	position:absolute; 
	bottom:0; 
	left:0; 
	width:100%; 
	height:100%;
}
.photo_grid figure h2{
	word-spacing:-0.15em; 
	font-weight:300;
}
.photo_grid figure h2 span{
	font-weight:800;
}
.photo_grid figure h2, .photo_grid figure a{
	margin:0;
}
.photo_grid figcaption a{
	color:#fff; 
	font-size:68.5%; 
	letter-spacing:1px; 
	display:block; 
	margin-top:7px;
}

#footer{
	display:inline; 
	float:left; 
	width:100%;
}
.footer_top {
	background-color:#2B64BE; 
	color:#fff; 
	display:inline; 
	float:left; 
	width:100%;
	padding-right: 15px;
	padding-left: 15px;
}
.footer_widget {
	display:inline; 
	float:left;
	width:100%;
}
.footer_widget > h2 {
	font-family: 'Mitr', sans-serif;
	border-bottom:1px solid #fff;
	width: 100px;
	color: #FFCC33;
	font-size:18px; 
	padding:10px 0;
}
.footer_widget > h2:hover {
	color: #FFCC33;
}

.footer_widget:hover {
	color: #fff;
}

.footer-logo {
	margin-top: 50px;
}

.footer-logo img {
	width: 100%;
}

.tag_nav li a {
	color:#fff; 
	display:block; 
	padding:6px 6px 6px 0; 
}
.tag_nav li a:hover {
	color:#fff; 
}

.social-container {
	text-align: center;
}

.social-container ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}
.social-container li {
    float: left;
    padding: 2px 5px;
}

#footer {
	background-color:#2B64BE; 
}

.footer_bottom {
	float:left; 
	display:inline; 
	width:100%; 
	padding:10px 40px; 
	background-color:#2B64BE; 
	color:#fff
}
.copyright{
	float:left; 
	width:50%; 
	padding-top:10px; 
	text-align:left;
}
.copyright a{
	color:#ccc;
}

.first-section {
	margin-bottom: 20px;
}
.footer_bottom_text {
	border-top: 1px solid #fff;
}

.featured_img{
	position:relative;
}

.featured_img:after{
	display: block;
  	position: relative;
  	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);
  	margin-top: -150px;
  	height: 150px;
  	width: 100%;
  	content: '';
}

.featured_img img {
	width: 100%;
	height: 340px;}

.featured_img .tag-img {
	position: absolute;
	background-color: white;
	top: 30px;
	padding: 0 20px 0 20px;
}

.featured_img .tag-img p {
	margin: 5px;
	color: #2B64BE;
	font-weight: bold;
}


.featured_img .text-block  {
	font-size: 14px;
	position: absolute;
    bottom: 5px;
    right: 20px;
    width: 100%;
    color: white;
    padding-left: 40px;
    padding-right: 20px;
    z-index: 1;
}

.featured_img .text-block .date-time {
	font-size: 10px;
}

.single_iteam:after {
	display: block;
  	position: relative;
  	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);
  	margin-top: -150px;
  	height: 150px;
  	width: 100%;
  	content: '';
}

.single_iteam .text-block  {
	width: 700px;
	position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
}

.single_iteam .text-block h2 {
	line-height: 40px;
}

.single_iteam .text-block .date-time {
	font-size: 14px;
}

.media-body .description {
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px;
}

.media-body .date {
	font-size: 10px;
}

hr {  
	border-top: 2px solid black;
	margin-top: 10px;
}

.location-content {
	display: inline-block;
	width: 100%;
	height: 200px;
	background-color: #54F1D4;
	padding: 10px 5px 0 5px;
}

.location-content h4 {
	padding-left: 10px;
}

.search-section {
	margin-right: -10px;
    margin-left: -10px;
}

.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.selectdiv:after {
    content: url(images/arrow-down.png);
    color: #7BFCDB;
    right: 2px;
    padding: 10px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
	display: none;
}

.selectdiv select {
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  	/* Add some styling */
	  
  	display: block;
  	width: 100%;
  	height: 40px;
  	float: right;
  	padding: 0px 5px;
  	font-size: 12px;
  	line-height: 1.75;
  	color: #000;
  	background-color: #ffffff;
  	background-image: none;
  	border: 1px solid #7BFCDB;
  	-ms-word-break: normal;
  	word-break: normal;
}

.input-field input {
	padding: 0px 5px;
	font-size: 12px;
  	line-height: 1.75;
  	height: 40px;
  	display: block;
    width: 100%;
	background-color: #ffffff;
  	background-image: none;
  	border: 1px solid #7BFCDB;
  	color: #000;
}

.input-field input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
}

.input-field input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
}

.input-field input::-ms-input-placeholder { /* Microsoft Edge */
    color: #000;
}

.button-section {
	text-align: center;
}

.button-section .btn-search {
	min-width: 100px;
  	height: 35px;
  	padding: 0 15px;
  	background: #fff;
  	white-space: nowrap;
  	border-radius: 0;
  	font-size: 14px;
  	color: #000;
  	cursor: pointer;
  	border: 0;
  	margin-top: 10px;
}

ul.post-left {
	margin-left: -26px;
}

.post-left li {
	display:block; 
	float:left; 
	margin-left:26px; 
	width:42%;
}


.post-grid figure img{
	position:relative; 
	display:block; 
	min-height:50%; 
	max-width:100%; 
	width:100%; 
	height:50%;
}

.third-section {
	display: inline-block;
}

.single-post {
	margin-bottom: 20px;
}

.single-post-wrapper:after {
	display: block;
  	position: relative;
  	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);
  	margin-top: -150px;
  	height: 150px;
  	width: 100%;
  	content: '';
}

.single-post-wrapper img {
	width: 100%;
	height: 235px;
}

.single-post-wrapper .text-block  {
	font-size: 14px;
	position: absolute;
    top: 215px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    z-index: 1;
}

.single-post-wrapper .text-block .date-time {
	font-size: 10px;
}

.fourth-section .single_post_content {
	margin-bottom: 100px;
}

.article-img img {
	width: 100%;
}

/*Category page*/

.single-category-page, .category-page, .single-page {
	float:left; 
	display:inline; 
	width:100%; 
	background-color:#fff; 
	padding:0 30px;
}

.single-category-page h2, .category-page  h2, .latest-post h2, .popular-post h2 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 5px;
    padding: 0;
    position: relative;
    text-align: left;
    margin-bottom: 10px;
}

.single-category-page h2 span, .category-page h2 span {
    padding: 4px 15px;
    background: #6AADFE;
}

.sub-menu {
	display: inline-block;
	margin-bottom: 20px;
}

.sub-menu ul > li {
	float: left;
}

.sub-menu ul > li > a {
    border-left: 1px solid #B2B0B0;
    color: #B2B0B0;
    display: inline-block;
    padding: 0 14px;
}

.sub-menu ul > li.active > a, .sub-menu ul > li:hover > a {
	color: #333;
	font-weight: bold;
}

.sub-menu ul > li:first-child a{
	border:none;
	padding-left: 0;
}

.latest-post > h2 span, .popular-post > h2 span {
    padding: 4px 15px;
    background: #2B64BE;
}

.left-container { 
	float:left; 
	display:inline; 
	width:100%;
	margin-left: -10px;
}

.article-card {
	overflow: hidden;
}
.article-card li {
    display: none;
    float: left;
    width: 48%;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.article-card .read-more {
	min-width: 100px;
  	height: 35px;
  	padding: 0 15px;
  	background: #54F1D4;
  	white-space: nowrap;
  	border-radius: 0;
  	font-size: 14px;
  	color: #000;
  	cursor: pointer;
  	border: 0;
  	margin-top: 10px;
}

.image-card {
	position: relative;
}

.image-card img {
	width: 100%;
	height: 270px;
}

.image-card .desc {
	padding: 15px 15px 0 15px;
}

.image-card .date-time {
	font-size: 12px;
	color: #B2B0B0;
}

.right-container {
	float:left; 
	display:inline; 
	width:100%; 
	min-height:300px;
	margin-bottom: 20px;
}

.latest-post, .popular-post {
	display: inline-block;
	margin-bottom: 20px;
}

/*Single page*/

.single-page .banner img {
	width: 100%;
	height: 450px;
}

.single-page h2 {
	line-height: 35px;
}

.single-page .left-container {
	margin-left: 0;
}

.sub-menu-btn, .link-tag {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 10px;
}

.sub-menu-btn ul > li, .link-tag ul > li {
	float: left;
}

.sub-menu-btn ul > li > a {
    color: #000;
    font-weight: bold;
    display: inline-block;
    padding: 0 5px;
}

.sub-menu-btn ul > li:first-child a, .link-tag ul > li:first-child a {
	padding-left: 0;
}

.sub-menu-btn span.pink-btn {
	padding: 5px 15px 5px 15px;
	background-color: #F98075;
}

.sub-menu-btn span.purple-btn {
	padding: 5px 15px 5px 15px;
	background-color: #B3B3B3;
}

.social-header-nav {
	text-align: right;
}

.social-header-nav ul, .social-footer-nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}
.social-header-nav li, .social-footer-nav li {
    float: left;
    padding: 2px 5px;
}

.sub-title-container {
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.sub-title-container p {
	margin: 7px 0 0;
	color: #B2B0B0;
}

.single-page .content p {
	font-family: 'cordia new';
    font-size: 20px;
    color: #000;
    margin-bottom: 30px;
}

.link-tag ul > li > a {
    color: #000;
    display: inline-block;
    padding: 0 5px;
}

.link-tag span {
	padding: 5px 15px 5px 15px;
	border: 1px solid #FCBFBA;
}

.relate-article {
	display: inline-block;
	margin-top: 100px;
	margin-bottom: 50px;
}

.relate-article h2{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 5px;
    padding: 0;
    position: relative;
    text-align: left;
    margin-bottom: 10px;
}

.relate-article > h2 span, .map-container > h2 span {
    padding: 4px 15px;
    background: #54f1d4;
}

.relate-article .image-card img {
	width: 100%;
	height: 150px;
}

.relate-article .image-card .desc {
	padding: 5px 0 0 0;
}

.relate-article .image-card .desc p.title {
	font-weight: bold;
}

.relate-list {
	margin-left: -20px;
}

.relate-list li {
    display: block;
    float: left;
    width: 33.33333%;
    padding-left: 20px;
    margin-bottom: 20px;
}

/*Location page*/

.location-search {
	margin-bottom: 20px;
}

.map-container h2 {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 5px;
    padding: 0;
    position: relative;
    text-align: left;
    margin-bottom: 20px;
}

.map-container .select-option {
  position: relative;
  /*Don't really need this just for demo styling*/
  
  float: left;
  width: 100%;
}

.map-container .form-group {
	padding-right: 20px;
}

.map-container .select-option:after {
    content: url(images/arrow-down.png);
    color: #7BFCDB;
    right: 2px;
    padding: 3px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
}

.map-container .select-option select {
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  	/* Add some styling */
	  
  	display: block;
  	width: 140px;
  	height: 30px;
  	float: right;
  	padding: 0px 5px;
  	font-size: 12px;
  	line-height: 1.75;
  	color: #000;
  	border: 1px solid #999;
  	-ms-word-break: normal;
  	word-break: normal;
}

.map-container .input-field {
	font-size: 12px;
  	display: block;
    width: 300px;
    height: 30px;
    border: 1px solid #999;
    border-radius: 0;
}

.map-container .btn-search {
	min-width: 100px;
  	height: 35px;
  	padding: 0 15px;
  	background: #54F1D4;
  	white-space: nowrap;
  	border-radius: 0;
  	font-size: 14px;
  	color: #000;
  	cursor: pointer;
  	border: 0;
}

#googleMap {
	margin-bottom: 50px;
	width:100%;
	height:400px;
}

.search-result {
	display: inline-block;
	margin-bottom: 100px;
}

.header-pin {
	height: 35px;
}

.addr-list{
	margin-left:-10px;
}
.addr-list li{
	display:block; 
	float:left; 
	margin-left:13px; 
	width:32%;
}

.pin-icon {
	margin-bottom: 10px;
	float: left;
}

.pin-icon img {
	display: block;
}

.location-name {
	margin-left: 35px;
	word-break: break-all;
}

.address-info {
	overflow: auto;
    margin: 0 5px 50px 5px;
}

.pin-marker {
	float: left;
}

.pin-marker img {
	display: block;
}

.address-info .addr {
	margin-left: 35px;
	word-break: break-word;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1241px) {

	.header-container {
		width: 1170px;
	    padding-right: 50px;
	    padding-left: 50px;
	    margin-right: auto;
	    margin-left: auto;
	}

	.footer-container {
	    padding-right: 40px;
	    padding-left: 40px;
	    margin-right: auto;
	    margin-left: auto;
	}

	.footer_widget p {
		margin-right: 20px;
	}

	.footer-logo {
	 	padding-left: 20px
	}

	.col-lg-9 {
		padding-right: 0;
	}
  
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 813px) and (max-width: 1240px) {

	.header-container {
	    padding-right: 50px;
	    padding-left: 50px;
	    margin-right: auto;
	    margin-left: auto;
	}

	.navbar-inverse .navbar-nav > li > a{
		color: ;
		display:inline-block; 
		height:50px; 
		line-height:50px;
		padding: 0 15px;
		font-size: 12px;
	}

	.selectdiv select {
		padding: 0 21px 0 5px;
	  	font-size: 9px;
	}

	.input-field input {
		font-size: 9px;
	}

	.post-left li {
	    width: 41%;
	}

	.photograph_nav {
		margin-left: -20px;
	}

	.photograph_nav li{
		width:31.3333%;
		margin-left: 17px;
	}

	.photo-grid .single_post_content {
		margin-bottom: 30px;
	}

	.single-post-wrapper img {
		height: 200px;
	}

	.single-post-wrapper .text-block {
		top: 170px;
		left: 3px;
	}
  	
  	.footer_widget p {
		word-break: break-all;
		margin-right: 10px;
	}

	.footer-logo {
	 	padding-left: 20px
	}

	/*Category page*/
	.image-card img {
		width: 100%;
		height: 220px;
	}

	.addr-list li{
		width:31.3333%;
	}
  
}

@media (min-width: 813px) and (max-width: 1024px) and (orientation: landscape) {

	.header-container {
	    padding-right: 50px;
	    padding-left: 50px;
	    margin-right: auto;
	    margin-left: auto;
	}

	.navbar-inverse .navbar-nav > li > a{
		color:#FFCC33;
		display:inline-block; 
		height:50px; 
		line-height:50px;
		padding: 0 10px;
		font-size: 12px;
	}

  	.single_iteam{
  		height:415px;
  	}

  	/*Conten section*/
	#contentSection{
		padding:0;
	}

	.media-body .description {
	    font-size: 10px;
	}

	.media-body .date {
	    font-size: 9px;
	}

	#sliderSection {
		padding: 0 15px;
	}

	.single-post-wrapper img {
		height: 200px;
	}

	.single_iteam .text-block  {
		width: 500px;
		position: absolute;
	    bottom: 10px;
	    left: 10px;
	    color: white;
	    padding-left: 10px;
	    padding-right: 10px;
	}

	.single_iteam .text-block h2 {
		font-size: 18px;
		line-height: 30px;
	}

	.single_iteam .text-block .date-time {
		font-size: 12px;
	}

	.location-content {
	     padding: 0; 
	}

	.selectdiv:after {
	    content: url(images/arrow-down.png);
	    color: #7BFCDB;
	    right: 5px;
	    height: 34px;
	    padding: 9px 0px 0px 8px;
	    position: absolute;
	    pointer-events: none;
	}

	.selectdiv select {

		padding: 0 21px 0 5px;
	  	font-size: 9px;
	}

	.input-field input {
		font-size: 9px;
	}

	.post-left li {
	    width: 41%;
	}

	.photograph_nav {
		margin-left: -20px;
	}

	.photograph_nav li{
		margin-left: 18px;
		width:31.3333%;
	}

	.single-post-wrapper .text-block {
		top: 180px;
		left: 3px;
	}

	.footer_widget p {
		word-break: break-all;
		margin-right: 10px;
	}
  	
  	/*Category page*/
	.image-card img {
		width: 100%;
		height: 220px;
	}

	.addr-list li{
		width:31.3333%;
	}
}



/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  iPhone X (Landscape) + ipads
*/

@media (min-width: 768px) and (max-width: 812px) {

	.navbar-inverse .navbar-nav > li > a{
		color:#FFCC33;
		display:inline-block; 
		height:50px; 
		line-height:50px;
		padding: 0 4px;
		font-size: 12px;
	}

	.single_iteam{
		height:415px;
	}

	#logo img {
		margin: 0 0 0 15px;
	}
  	
  	/*search icon*/
	.search-icon {
		font-size: 18px;
		top: 70px;
    	right: 0;
	}

	/*Conten section*/
	#contentSection{
		padding:0;
	}

	.media-body .description {
	    font-size: 10px;
	}

	.media-body .date {
	    font-size: 9px;
	}

	#sliderSection {
		padding: 0 15px;
	}

	.single-post-wrapper img, .photo_grid figure {
		height: 160px;
	}

	.single_iteam .text-block  {
		width: 500px;
		position: absolute;
	    bottom: 10px;
	    left: 10px;
	    color: white;
	    padding-left: 10px;
	    padding-right: 10px;
	}

	.single_iteam .text-block h2 {
		font-size: 18px;
		line-height: 30px;
	}

	.single_iteam .text-block .date-time, .single-post-wrapper .text-block .date-time {
		font-size: 12px;
	}

	.location-content {
	     padding: 0; 
	}

	.selectdiv:after {
	    content: url(images/arrow-down.png);
	    color: #7BFCDB;
	    right: 5px;
	    height: 34px;
	    padding: 9px 0px 0px 8px;
	    position: absolute;
	    pointer-events: none;
	}

	.selectdiv select {

		padding: 0 21px 0 5px;
	  	font-size: 9px;
	}

	.input-field input {
		font-size: 9px;
	}

	.photograph_nav {
		margin-left: -14px;
	}

	.photograph_nav li{
		width:31.3333%;
	}

	.post-left li {
	    width: 38%;
	}

	.single-post-wrapper .text-block {
		top: 135px;
		left: 3px;
	}

	/*Category page*/
	.image-card img {
		width: 100%;
		height: 150px;
	}

	.relate-article .image-card img {
	    width: 100%;
	    height: 100px;
	}

	/*Location page*/

	.map-container .select-option select {
	  	width: 130px;
	}

	.map-container .input-field {
	  	width: 250px;
	}

	.addr-list li{
		width:31.3333%;
	}

	.scrollToTop {
		right: 10px;
	}

}



/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 812px) and (orientation: landscape) {


	.navbar-inverse .navbar-nav > li > a{
		color:#FFCC33;
		display:inline-block; 
		height:50px; 
		line-height:50px;
		padding: 0 5px;
		font-size: 13px;
	}

	.single_iteam{
		height:415px;
	}

	#logo img {
		margin: 0 0 0 15px;
	}

	/*Conten section*/
	#contentSection{
		padding:0;
	}

	.media-body .description {
	    font-size: 10px;
	}

	.media-body .date {
	    font-size: 9px;
	}

	#sliderSection {
		padding: 0;
	}

	.single_iteam .text-block  {
		width: 500px;
		position: absolute;
	    bottom: 10px;
	    left: 10px;
	    color: white;
	    padding-left: 10px;
	    padding-right: 10px;
	}

	.single_iteam .text-block h2 {
		font-size: 18px;
		line-height: 30px;
	}

	.single_iteam .text-block .date-time {
		font-size: 12px;
	}

	.location-content {
	     padding: 0; 
	}

	.selectdiv:after {
	    content: url(images/arrow-down.png);
	    color: #7BFCDB;
	    right: 5px;
	    height: 34px;
	    padding: 9px 0px 0px 8px;
	    position: absolute;
	    pointer-events: none;
	}

	.selectdiv select {

		padding: 0 21px 0 5px;
	  	font-size: 9px;
	}

	.input-field input {
		font-size: 9px;
	}

	.featured_img img {
	    height: 355px;
	}

	.post-left li {
	    width: 45%;
	}

	.photograph_nav li{
		width:31.3333%;
	}

	.single-post-wrapper .text-block {
		top: 135px;
		left: 3px;
	}

	.footer_bottom {
		padding: 10px 30px;
	}

	.addr-list li{
		width:31.3333%;
	}
  
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
  iPhone 6/7/8 + Plus
*/

@media (min-width: 481px) and (max-width: 767px) {

	.navbar-collapse{
		padding-left:15px;
	}

	.navbar-inverse .navbar-nav > li > a{
		display:block;
	}

	.search-box {
	    top: 120px;
	    width: 100%;
	}

	.search-txt {
	    width: 100%;
	}

	.single_iteam a {
		height:100%;
	}
	.single_iteam a > img {
		height:100%;
	}
	.nav-tabs > li{ 
		width:32.6%;
	}
	.header_bottom{ width:100%;}

	#logo img {
		margin: 0 0 0 15px;
	}

	.main_nav {
		margin-top: 0;
	}
	.category-menu {
		display: none;
	}

	.footer-logo {
		margin-bottom: 20px;
	}

	.copyright{
		text-align:center;
		width:100%;
	}

	/*nav bar*/
  	.nav>li {
		text-align: center;
	}

	.category-menu {
		display: none;
	}

	/*Conten section*/
	#contentSection{
		padding:0;
	}

	.single_post_content_right {
	    float: left;
	    display: inline;
	    width: 100%;
	}

	.media-body .description {
	    font-size: 11px;
	}

	.media-body .date {
	    font-size: 9px;
	}

	#sliderSection {
		padding: 0;
	}

	.single_iteam .text-block  {
		width: 350px;
		position: absolute;
	    bottom: 5px;
	    left: 5px;
	    color: white;
	    padding-left: 5px;
	    padding-right: 5px;
	}

	.single_iteam .text-block h2 {
		font-size: 18px;
		line-height: 30px;
	}

	.single_iteam .text-block .date-time {
		font-size: 12px;
	}

	.selectdiv:after {
	    content: url(images/arrow-down.png);
	    color: #7BFCDB;
	    right: 5px;
	    height: 34px;
	    padding: 9px 0px 0px 8px;
	    position: absolute;
	    pointer-events: none;
	}

	.selectdiv select {

		padding: 0 21px 0 5px;
	  	font-size: 9px;
	}

	.input-field input {
		font-size: 9px;
	}

	.social-container li {
		padding: 0 3px;
	}
	
	.footer-logo {
		text-align: center;
	}

	.footer-logo img {
		width: 50%;
	}

	.social-link img {
		width: 100%;
	}

	.scrollToTop {
		right: 10px;
	}

	/*Category page*/
	.article-card li {
	    width: 50%;
	    margin-bottom: 20px;
	}

	.left-container { 
		margin-left: 0;
	}

	.image-card img {
		width: 100%;
		height: 100%;
		min-height: 220px;
	}
  	
  	/*Sigle page*/
  	.relate-article .image-card img {
	    min-height: 100px;
	}

	/*Location page*/

	.map-container .select-option select, .map-container .input-field {
	  	width: 100%;
	  	margin-bottom: 10px;
	}

	.addr-list{
		margin-left:0;
	}
	.addr-list li{
		margin-left:0; 
		width:100%;
	}

	.scrollToTop {
		right: 10px;
	}
}

@media (min-width: 668px) and (max-width: 736px) {

	#logo img {
		margin: 0 0 0 15px;
	}

	.main_nav {
		margin-top: 0;
	}

	.single_iteam{
		height:300px;
	}

	.slick-prev, .slick-next {
	    top: 50%;
	    width: 35px;
	    height: 35px;
	}

	.copyright{
		text-align:center;
		width:100%;
	}

	.category-menu {
		display: none;
	}

	/*Conten section*/
	#contentSection{
		padding:0;
	}


	.single_post_content_right {
	    float: left;
	    display: inline;
	    width: 100%;
	}

	.media-body .description {
	    font-size: 11px;
	}

	.media-body .date {
	    font-size: 9px;
	}

	#sliderSection {
		padding: 0;
	}

	.single_iteam .text-block  {
		width: 350px;
		position: absolute;
	    bottom: 5px;
	    left: 5px;
	    color: white;
	    padding-left: 5px;
	    padding-right: 5px;
	}

	.single_iteam .text-block h2 {
		font-size: 18px;
		line-height: 30px;
	}

	.single_iteam .text-block .date-time {
		font-size: 12px;
	}

	.selectdiv:after {
	    content: url(images/arrow-down.png);
	    color: #7BFCDB;
	    right: 5px;
	    height: 34px;
	    padding: 9px 0px 0px 8px;
	    position: absolute;
	    pointer-events: none;
	}

	.selectdiv select {

		padding: 0 21px 0 5px;
	  	font-size: 9px;
	}

	.input-field input {
		font-size: 9px;
	}

	.social-container li {
		padding: 0 3px;
	}
	
	.footer-logo {
		text-align: center;
	}

	.footer-logo img {
		width: 50%;
	}

	.social-link img {
		width: 100%;
	}

	.scrollToTop {
		right: 10px;
	}

	/*Category page*/
	.image-card img {
		width: 100%;
		height: 250px;
	}

	/*Single page*/
	.single-page .banner img {
		height: 100%
	}

	.social-header-nav li, .social-footer-nav li {
	    float: left;
	    padding: 2px 3px;
	}

}

/*5s landscape*/
@media ( max-width:568px ){

	#logo img {
		margin: 0 0 0 15px;
	}

	.main_nav {
		margin-top: 0;
	}

	.search-box {
	    top: 120px;
	    width: 100%;
	}

	.search-txt {
	    width: 100%;
	}

	.copyright{
		text-align:center;
		width:100%;
	}

	.single_iteam{
		height:210px;
	}

	.slick-prev, .slick-next {
	    top: 50%;
	    width: 35px;
	    height: 35px;
	}

	.category-menu {
		display: none;
	}

	/*Conten section*/
	#contentSection{
		padding:0;
	}

	.single_post_content_right {
	    float: left;
	    display: inline;
	    width: 100%;
	}

	.media-body .description {
	    font-size: 11px;
	}

	.media-body .date {
	    font-size: 9px;
	}

	#sliderSection {
		padding: 0;
	}

	.single_iteam .text-block  {
		width: 250px;
		position: absolute;
	    bottom: 5px;
	    left: 5px;
	    color: white;
	    padding-left: 5px;
	    padding-right: 5px;
	}

	.single_iteam .text-block h2 {
		font-size: 12px;
		line-height: 13px;
	}

	.single_iteam .text-block .date-time {
		font-size: 9px;
	}

	.selectdiv:after {
	    content: url(images/arrow-down.png);
	    color: #7BFCDB;
	    right: 5px;
	    height: 34px;
	    padding: 9px 0px 0px 8px;
	    position: absolute;
	    pointer-events: none;
	}

	.selectdiv select {

		padding: 0 21px 0 5px;
	  	font-size: 9px;
	}

	.input-field input {
		font-size: 9px;
	}

	.footer_bottom {
		padding: 10px 30px;
	}

	.social-container li {
		padding: 0 3px;
	}
	
	.footer-logo {
		text-align: center;
	}

	.footer-logo img {
		width: 50%;
	}

	.social-link img {
		width: 100%;
	}

	.footer_widget p {
		font-size: 12px;
	}

	.footer_widget > h2 {
		font-size: 16px;
	}

	.scrollToTop {
		right: 10px;
	}

	/*Category page*/

	.article-card li {
	    width: 100%;
	    margin-bottom: 20px;
	    padding-right: 0;
	    padding-left: 0;
	}

	.left-container { 
		margin-left: 0;
	}

	.sub-menu ul > li > a {
	    padding: 0 5px;
	}

	.image-card .desc {
	    padding: 15px 0 0 0;
	}

	/*Single page*/
	.single-page .banner img {
		height: 100%
	}

	.social-header-nav li, .social-footer-nav li {
	    float: left;
	    padding: 2px 3px;
	}

	.relate-list li {
		width: 100%;
	}

	/*Location page*/

	.map-container .select-option select, .map-container .input-field {
	  	width: 100%;
	  	margin-bottom: 10px;
	}

	.scrollToTop {
		right: 10px;
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  iPhone 6/7/8 + Plus + iPhone X
*/

@media (min-width: 320px) and (max-width: 480px) {

	#logo img {
		margin: 0 0 0 15px;
	}

	.main_nav {
		margin-top: 0;
	}
  	
  	/*nav bar*/
  	.nav>li {
		text-align: center;
	}

	.search-box {
	    top: 120px;
	    width: 100%;
	}

	.search-txt {
	    width: 100%;
	}

	.single_iteam{
		height:180px;
	}

	.slick-prev, .slick-next {
	    top: 50%;
	    width: 35px;
	    height: 35px;
	}

	.copyright{
		font-size: 10px;
		text-align:center;
		width:100%;
	}

	.category-menu {
		display: none;
	}

	/*Conten section*/
	#contentSection{
		padding:0;
	}

	.single_post_content_right {
	    float: left;
	    display: inline;
	    width: 100%;
	}

	.media-body .description {
	    font-size: 11px;
	}

	.media-body .date {
	    font-size: 9px;
	}

	#sliderSection {
		padding: 0;
	}

	.single_iteam .text-block  {
		width: 200px;
		position: absolute;
	    bottom: -6px;
	    left: 5px;
	    color: white;
	    padding-left: 5px;
	    padding-right: 5px;
	}

	.single_iteam .text-block h2 {
		font-size: 10px;
		line-height: 10px;
	}

	.single_iteam .text-block .date-time {
		font-size: 9px;
	}

	.selectdiv:after {
	    content: url(images/arrow-down.png);
	    color: #7BFCDB;
	    right: 5px;
	    height: 34px;
	    padding: 9px 0px 0px 8px;
	    position: absolute;
	    pointer-events: none;
	}

	.selectdiv select {

		padding: 0 21px 0 5px;
	  	font-size: 9px;
	}

	.input-field input {
		font-size: 9px;
	}

	.footer_bottom {
		padding: 10px 30px;
	}

	.social-container li {
		padding: 0;
	}
	
	.footer-logo {
		text-align: center;
	}

	.footer-logo img {
		width: 50%;
	}

	.footer_widget p {
		font-size: 10px;
	}

	.footer_widget > h2 {
		font-size: 14px;
	}

	.scrollToTop {
		right: 10px;
	}

	/*Category page*/

	.article-card li {
	    display: block;
	    float: left;
	    width: 100%;
	    margin-bottom: 20px;
	}

	.left-container { 
		margin-left: 0;
	}

	.sub-menu ul > li > a {
	    padding: 0 5px;
	}

	.image-card .desc {
	    padding: 15px 0 0 0;
	}

	/*Single page*/
	.single-page .banner img {
		height: 100%
	}

	.social-header-nav li, .social-footer-nav li {
	    float: left;
	    padding: 2px 3px;
	}

	.sub-menu-btn ul > li, .link-tag ul > li {
	    float: left;
	    display: block;
	    width: 100%;
	    margin-bottom: 25px;
	}

	.sub-menu-btn ul > li > a, .link-tag ul > li > a {
	     padding: 0; 
	}

	.relate-list li {
		width: 100%;
	}

	/*Location page*/

	.map-container .select-option select, .map-container .input-field {
	  	width: 100%;
	  	margin-bottom: 10px;
	}

	#googleMap {
		height: 200px;
	}

	.addr-list{
		margin-left:0;
	}
	.addr-list li{
		margin-left:0; 
		width:100%;
	}

	.scrollToTop {
		right: 10px;
	}
  
}

/*5s portrait*/

@media(max-width:320px ){

	.main_nav {
		margin-top: 0;
	}

	/*nav bar*/
	.nav>li {
		text-align: center;
	}

	.search-box {
	    top: 120px;
	    width: 100%;
	}

	.search-txt {
	    width: 100%;
	}

	#logo img {
		margin: 0 0 0 15px;
	}

	.single_iteam{
		height:150px;
	}

	.slick-prev, .slick-next {
	    top: 50%;
	    width: 35px;
	    height: 35px;
	}

	.copyright{
		font-size: 10px;
		text-align:center;
		width:100%;
	}

	.category-menu {
		display: none;
	}

	/*Conten section*/
	#contentSection{
		padding:0;
	}

	.single_post_content_right {
	    float: left;
	    display: inline;
	    width: 100%;
	}

	.media-body .description {
	    font-size: 11px;
	}

	.media-body .date {
	    font-size: 9px;
	}

	#sliderSection {
		padding: 0;
	}

	.single_iteam .text-block  {
		width: 200px;
		position: absolute;
	    bottom: -7px;
	    left: 5px;
	    color: white;
	    padding-left: 5px;
	    padding-right: 5px;
	}

	.single_iteam .text-block h2 {
		font-size: 10px;
		line-height: 8px;
	}

	.single_iteam .text-block .date-time {
		font-size: 6px;
	}

	.selectdiv:after {
	    content: url(images/arrow-down.png);
	    color: #7BFCDB;
	    right: 5px;
	    height: 34px;
	    padding: 9px 0px 0px 8px;
	    position: absolute;
	    pointer-events: none;
	}

	.selectdiv select {

		padding: 0 21px 0 5px;
	  	font-size: 9px;
	}

	.input-field input {
		font-size: 9px;
	}

	.footer_bottom {
		padding: 10px 30px;
	}

	.social-container li {
		padding: 0;
	}

	.footer-logo {
		text-align: center;
	}

	.footer-logo img {
		width: 50%;
	}

	.footer_widget p {
		font-size: 10px;
	}

	.footer_widget > h2 {
		font-size: 14px;
	}

	/*Category page*/

	.article-card li {
	    width: 100%;
	    margin-bottom: 20px;
	    padding-right: 0;
	    padding-left: 0;
	}

	.left-container { 
		margin-left: 0;
	}

	.sub-menu ul > li > a {
	    padding: 0 5px;
	}

	.image-card .desc {
	    padding: 15px 0 0 0;
	}

	.image-card img {
		width: 100%;
		height: 200px;
	}

	/*Single page*/
	.single-page .banner img {
		height: 100%
	}

	.social-header-nav li, .social-footer-nav li {
	    float: left;
	    padding: 2px 3px;
	}

	.sub-menu-btn ul > li, .link-tag ul > li {
	    float: left;
	    display: block;
	    width: 100%;
	    margin-bottom: 25px;
	}

	.sub-menu-btn ul > li > a, .link-tag ul > li > a {
	     padding: 0; 
	}

	.relate-list li {
		width: 100%;
	}

	/*Location page*/

	.map-container .select-option select, .map-container .input-field {
	  	width: 100%;
	  	margin-bottom: 10px;
	}

	#googleMap {
		height: 200px;
	}

	.addr-list{
		margin-left:0;
	}
	.addr-list li{
		margin-left:0; 
		width:100%;
	}

	.scrollToTop {
		right: 10px;
	}

}